<div>
<%=form_tag("/posts/create") do %>	
<p><input class="input" type="text" name="heading"></p>
<p><input class="input" type="text" name="subheading"></p>
<p>		<textarea name="content_1"></textarea></p>
<p>		<textarea name="content_2"></textarea></p>
<p>		<input class="submit" type="submit" value="ok"><p>
<% end %>	
</div>